@import '@/styles/vars';
@import '@/styles/mixins';

.container {
  @include section-container(lightgrey);
}

.title {
  @include section-title;

  margin-bottom: clamp(1.5rem, 3vw, 2rem);
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.item {
  margin: 0 auto;

  &Title {
    @include section-subtitle;

    margin-bottom: clamp(0.5rem, 2vw, 1.25rem);
    text-align: center;
  }
}
