@import '@/styles/vars';
@import '@/styles/mixins';
@import './slider-vars';

.slider {
  margin-bottom: 0.5rem;
}

.controls {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.progress {
  position: relative;

  overflow: hidden;
  flex: 1;

  width: 80%;
  height: 20px;

  background-image: $progress-image;
  background-position: left;
  border-radius: 20px;

  &Bar {
    height: 100%;

    background-color: var(--color-black);
    background-image: $progress-image;
    background-position: left;
    border-radius: 20px;

    transition: width 0.3s ease-in-out;
  }
}

.button {
  @include flex-center;

  flex-grow: 0;
  flex-shrink: 0;

  width: 30px;
  height: 30px;

  background-color: var(--color-black);
  border-radius: 4px;

  transition:
    opacity 0.3s ease,
    border-radius 0.3s ease;

  img {
    width: 9px;
    height: 15px;
  }

  &:hover {
    border-radius: 50%;
  }

  &:active {
    opacity: 0.3;
  }
}
