@import '@/styles/vars';
@import '@/styles/mixins';

.container {
  display: flex;
  perspective: 800px;
}

.innerContainer {
  @include flex-column;

  @include breakpoint(tablet) {
    transition: transform 0.3s ease-out;

    &:hover {
      transform: rotateX(var(--x-rotation)) rotateY(var(--y-rotation))
        scale(1.01);
    }
  }

  flex: 1;
  gap: 2.25rem;

  width: 330px;
  height: 500px;
  padding: 2.25rem 1.5625rem;

  background-color: var(--color-dark-grey);
  border-radius: 10px;
  box-shadow: 6px 6px 12px rgb(0 0 0 / 70%);
}

.row {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
}
