@import '@/styles/vars';
@import '@/styles/mixins';

$mobile-size: 36px;
$desktop-size: 44px;

.container {
  @include flex-center;

  @include breakpoint(tablet) {
    width: $desktop-size;
    height: $desktop-size;
  }

  width: $mobile-size;
  height: $mobile-size;
  background-color: var(--color-black);
  border-radius: 4px;
}

.iconContainer {
  @include flex-center;

  @include breakpoint(tablet) {
    width: $desktop-size / 2;
    height: $desktop-size/ 2;
  }

  width: $mobile-size / 2;
  height: $mobile-size / 2;

  svg {
    width: auto;
    max-height: 100%;
  }
}
