@import '@/styles/vars';
@import '@/styles/mixins';

.container {
  @include flex-center;

  cursor: move;
  user-select: none;

  gap: 0.5rem;

  padding: clamp(0.25rem, 1.5vw, 0.375rem) clamp(0.5rem, 3vw, 1rem);

  font-size: clamp(0.75rem, 3vw, 1rem);
  line-height: clamp(0.75rem, 3vw, 1rem);
  color: var(--color-white);
  text-transform: lowercase;
  letter-spacing: 0.06rem;

  background: var(--color-dark-grey);
  background-color: var(--color-black);
  border-radius: 20px;
}
