@import '@/styles/vars';
@import '@/styles/mixins';

.container {
  @include flex-center;

  @include breakpoint(tablet) {
    min-height: calc(100vh - 5rem);
  }

  min-height: 100vh;
}

.title {
  font-size: clamp(2rem, 10vw, 3.5rem);
  font-weight: 700;
  line-height: 1.3;
  text-align: center;

  transition: transform 0.3s ease;
}
