// Colors

$white: #fff;
$lightgrey: #f4f4f4;
$grey: #bbb;
$dark-grey: #191919;
$black: #000;

// Colors map
$colors: (
  white: $white,
  lightgrey: $lightgrey,
  grey: $grey,
  dark-grey: $dark-grey,
  black: $black,
);

// Breakpoints

$breakpoints: (
  mobile: 31.25rem,
  tablet: 48rem,
  laptop: 60rem,
  desktop: 80rem,
);
