@import '@/styles/vars';
@import '@/styles/mixins';

.container {
  @include section-container(lightgrey);
}

.title {
  @include section-title;
}

.projects {
  @include breakpoint(laptop) {
    grid-gap: clamp(2rem, 4vw, 3rem);
    grid-template-columns: repeat(2, 1fr);
  }

  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
}

.list {
  @include flex-column;

  @include breakpoint(laptop) {
    gap: clamp(2rem, 4vw, 3rem);
  }

  gap: 2.5rem;
  transition: all 0.3s ease-in-out;
}
