@import '@/styles/vars';
@import '@/styles/mixins';

.container {
  @include section-container(lightgrey);
}

.title {
  @include section-title;
}

.projects {
  @include breakpoint(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
}

.list {
  @include flex-column;

  gap: 2rem;
  transition: all 0.3s ease-in-out;
}
