@import '@/styles/vars';
@import '@/styles/mixins';

.container {
  min-height: 100vh;
  padding: 2rem 0;
  background-color: var(--color-lightgrey);
}

.title {
  margin-bottom: clamp(1rem, 3vw, 1.5rem);
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-weight: 700;
}

.projects {
  @include breakpoint(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
}

.list {
  @include flex-column;

  gap: 2rem;
  transition: all 0.3s ease-in-out;
}
